# Library dependencies for the python code.  You need to install these with

# conda create -n <env_name> python=3.6 (or 3.7)
# source activate <env_name>
# run requirements
# python -m ipykernel install --user --name <env_name> --display-name "<Display Name>"

# `pip install -U -r requirements.txt` before you can run this.

# Base libraries
numpy
pandas
scipy
prettytable
xgboost

# Viz libs
matplotlib
seaborn

# Stats libraries
scikit-learn
statsmodels

# Auto-Arima
pmdarima

# Facebook Prophet
fbprophet
